{% extends 'base.html' %}


{% block page-main %}
    <form action="" method="post">
        <div class="row placeholders">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="panel panel-default">
                    <div class="panel-body">
                        客户信息
                    </div>


                    {% csrf_token %}
                    {{ formset.management_form }}

                     <!--主页显示数据表格-->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>学员</th>
                            <th>考勤</th>
                            <th>本节成绩</th>
                            <th>作业文件</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in formset %}
                            <tr>
                                {{ form.id }}
                                <td>{{ forloop.counter }}</td>
                                <td style="display: none">{{ form.student }}</td>
                                <td>{{ form.instance.student.name }}</td>
                                <td>{{ form.attendance }}</td>
                                <td>{{ form.score }}</td>
                                <td>{{ form.homework }}</td>
                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>

                    <!--主页显示数据结束-->

                    <!--分页开始-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {{ page_list|safe }}
                        </ul>
                    </nav>
                    <button class="btn btn-success" type="submit">保存</button>


                    <!--分页结束-->
                </div>
            </div>
        </div>
    </form>
{% endblock %}